<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Banking</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="volverIndex">
        <a href="{% url 'index' %}">Volver</a>
    </div>

    <div class="bdHomeBanking">
        <h1>ITBANK</h1>
        <form id="#formulario" class="formulario-input errorMensaje" method="post">
            <input type="text" placeholder="Usuario" id="usuario">
            <input type="password" placeholder="Contraseña" id="contrasena">
            <input type="submit" value="ingresar">
        </form>
        <div class="mensajeError"></div>
    </div>
</body>
</html>