{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

{% include 'navbar/navbar.html' %}

<!-- Aca empieza el Tab de las tarjetas -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <!--Ver todas-->
    <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
    </li>
    <!--Tarjeta gold-->
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
            type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Tarjeta Gold</button>
    </li>
    <!--Tarjeta Platinum-->
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
            type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Tarjeta
            Platinum</button>
    </li>
    <!--Tarjeta Black-->
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane"
            type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Tarjeta Black</button>
    </li>
</ul>
<!-- Contenido escondido -->
<div class="tab-content" id="myTabContent">
    <!--Contenido de Ver todas-->
    <div class=" tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
        tabindex="0">
        <div class="tarjeta-col3">
            <img src="{% static 'img/imagenesTarjeta/tarjeta-red-2.jpg' %}" alt="tarjeta-red1" class="tarjeta-red1">
            <h1 class="red-card">ITBANK Red Card</h1>
            <h2 class="c-red">Características</h2>
            <p class="texto-red-card"> Si tenés entre 18 y 29 años y estudiás o trabajás, esta tarjeta es para vos.​

                Beneficios y ahorros adicionales en bares, restó, fast-food, universidad y telefonía móvil.
                Tarjetas adicionales sin cargo.
                Seguro de precio protegido.Consumo para bonificación de renovación $4.000 mensuales. </p>
            <button class="boton-tarjeta"> Solicitala ya</button>

        </div>
        <div class="tarjeta-col2">
            <img src="{% static 'img/imagenesTarjeta/tarjeta-green-2.jpg' %}" alt="tarjeta-green1" class="tarjeta-green1">
            <h1 class="green-card">ITBANK Green Card</h1>
            <h2 class="c-green">Características</h2>
            <p class="texto-green-card">Beneficios y servicios preferenciales que te acercan adonde querés estar.
                Visa Travel Experience.
                Visa Luxury Hotel Collection.
                Concierge Service. Consumo para bonificación de renovación $20.000 mensuales.
            </p>
            <button class="boton-tarjeta"> Solicitala ya</button>
        </div>
        <div class="tarjeta-col4">
            <img src="{% static 'img/imagenesTarjeta/tarjeta-blue-2.jpg' %}" alt="tarjeta-blue1" class="tarjeta-blue1">
            <h1 class="blue-card">ITBANK Blue Card</h1>
            <h2 class="c-blue">Características</h2>
            <p class="texto-blue-card">Mayor poder de compra, beneficios exclusivos y protecciones en viaje, que
                simplifican tu vida.
                Obtené descuentos y beneficios exclusivos pases a salas VIP de LoungeKey ilimitados para titulares y
                4 visitas anuales para acompañantes, en aeropuertos alrededor del mundo.
                Concierge Service.
                Wi-Fi ilimitado gratuito en más de 1 millón de puntos. Consumo para bonificación de renovación
                $35.000 </p>
            <button class="boton-tarjeta"> Solicitala ya</button>
        </div>
    </div>
    <!--Contenido de Tarjeta gold-->
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="tarjeta-col3">
            <img src="{% static 'img/imagenesTarjeta/tarjeta-red-2.jpg' %}" alt="tarjeta-red1" class="tarjeta-red1">
            <h1 class="red-card">ITBANK Red Card</h1>
            <h2 class="c-red">Características</h2>
            <p class="texto-red-card"> Si tenés entre 18 y 29 años y estudiás o trabajás, esta tarjeta es para vos.​

                Beneficios y ahorros adicionales en bares, restó, fast-food, universidad y telefonía móvil.
                Tarjetas adicionales sin cargo.
                Seguro de precio protegido.Consumo para bonificación de renovación $4.000 mensuales. </p>
            <button class="boton-tarjeta"> Solicitala ya</button>

        </div>
    </div>
    <!--Contenido de Tarjeta Platinum-->
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <div class="tarjeta-col2">
            <img src="{% static 'img/imagesTarjeta/tarjeta-green-2.jpg' %}" alt="tarjeta-green1" class="tarjeta-green1">
            <h1 class="green-card">ITBANK Green Card</h1>
            <h2 class="c-green">Características</h2>
            <p class="texto-green-card">Beneficios y servicios preferenciales que te acercan adonde querés estar.
                Visa Travel Experience.
                Visa Luxury Hotel Collection.
                Concierge Service. Consumo para bonificación de renovación $20.000 mensuales.
            </p>
            <button class="boton-tarjeta"> Solicitala ya</button>
        </div>
    </div>
    <!--Contenido de Tarjeta Black-->
    <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
        <div class="row">
            <div class="tarjeta-col1">
                <img src="{% static 'img/imagenesTarjeta/tarjeta-blue-2.jpg' %}" alt="tarjeta-blue1" class="tarjeta-blue1">
                <h1 class="blue-card">ITBANK Blue Card</h1>
                <h2 class="c-blue">Características</h2>
                <p class="texto-blue-card">Mayor poder de compra, beneficios exclusivos y protecciones en viaje, que
                    simplifican tu vida.
                    Obtené descuentos y beneficios exclusivos pases a salas VIP de LoungeKey ilimitados para
                    titulares y
                    4 visitas anuales para acompañantes, en aeropuertos alrededor del mundo.
                    Concierge Service.
                    Wi-Fi ilimitado gratuito en más de 1 millón de puntos. Consumo para bonificación de renovación
                    $35.000 </p>
                <button class="boton-tarjeta"> Solicitala ya</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}