<div class="row">
    <div class="col text-center p-2">
        <a href="{% url 'cuentas' %}" class="h5 nav-online-link">Cuentas</a>
    </div>
    <div class="col text-center p-2">
        <a href="{% url 'transferencias' %}" class="h5 nav-online-link">Transferencias</a>
    </div>
    <div class="col text-center p-2">
        <a href="{% url 'tarjetas' %}" class="h5 nav-online-link">Tarjetas</a>
    </div>
    <div class="col text-center p-2">
        <a href="" class="h5 nav-online-link">Pagos</a>
    </div>
    <div class="col text-center p-2">
        <a href="{% url 'inversiones' %}" class="h5 nav-online-link">Inversiones</a>
    </div>
    <div class="col text-center p-2">
        <a href="{% url 'prestamos' %}" class="h5 nav-online-link">Prestamos</a>
    </div>
</div>
</div>