{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid nav-onlinebanking">
{% include 'navbar/navbar.html' %}
<div class="container-fluid vh-100">
    <div class="row d-flex flex-row m-auto">
        <div class="col-1 col-lg-2">

        </div>
        <div class="col-12 col-lg-8">
            <h1>¡Hola, {{user.username}}!</h1>
            <div class="row">


                <div class="col-12 col-lg-8">

                    <div class="card border-dark mb-3 mw-100 m-0" style="max-width: 18rem;">
                        <div class="card-header">Caja de Ahorro en AR$ <b>000000010200667322</b></div>
                        <div class="card-body text-dark text-end">
                            <h6 class="text-start">Saldo</h6>
                            <h5 class="card-title text-start fw-bold">$45.780,02</h5>
                            <a href="#" class="btn btn-light btn-sm text-end btn-mov-trans">Movimientos</a>
                            <a href="#" class="btn btn-light btn-sm text-end btn-mov-trans">Transferir</a>
                            <a href="#" class="btn btn-outline-danger btn-sm text-end btn-aliascbu">Alias/CBU</a>
                        </div>
                    </div>
                    <div class="card border-dark mb-3 mw-100 m-0" style="max-width: 18rem;">
                        <div class="card-header">Caja de Ahorro en U$D <b>000000020200667323</b></div>
                        <div class="card-body text-dark text-end">
                            <h6 class="text-start">Saldo</h6>
                            <h5 class="card-title text-start fw-bold">U$D1.500,00</h5>
                            <a href="#" class="btn btn-light btn-sm text-end btn-mov-trans">Movimientos</a>
                            <a href="#" class="btn btn-light btn-sm text-end btn-mov-trans">Transferir</a>
                            <a href="#" class="btn btn-outline-danger btn-sm text-end btn-aliascbu">Alias/CBU</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-3 border-dark mw-100 m-0" style="max-width: 18rem;">
                        <div class="card-header entrar-tarjeta">Tarjeta de Credito <b>**** 1926</b></div>
                        <div class="card-body">
                            <h6 class="">Saldo ultimo resumen</h5>
                                <h5 class="fw-bold">$25.759.50</h5>
                                <h5 class="fw-bold">U$D 0,00</h5>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="fs-6">Vto. actual<br><span>09/06</span></p>
                                    </div>
                                    <div class="col-6">
                                        <p class="fs-6">Prox. cierre<br><span>25/06</span></p>
                                    </div>
                                </div>

                        </div>
                    </div>
                    <div class="card mb-3 border-dark mw-100 m-0" style="max-width: 18rem;">
                        <div class="card-header entrar-tarjeta">Tarjeta de Credito <b>**** 2728</b></div>
                        <div class="card-body">
                            <h6 class="">Saldo ultimo resumen</h5>
                                <h5 class="fw-bold">$17.588,23</h5>
                                <h5 class="fw-bold">U$D 11,71</h5>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="fs-6">Vto. actual<br><span>11/06</span></p>
                                    </div>
                                    <div class="col-6">
                                        <p class="fs-6">Prox. cierre<br><span>27/06</span></p>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
        <div class="col-1 col-lg-2">

        </div>
    </div>
</div>

{% endblock content %}